.tile { /* eatch tile is 500px/8 = 62.5px wide */
    width: 62.5px;
    height: 62.5px;
}
/* . for className and # for id */
.black-tile { 
    background-color: #779556
}

.white-tile {
    background-color: #ebecd0;
}